<div class="page-header">
  <h1>Pages#welcome</h1>
</div>

<p>Find me in app/views/pages/welcome.html.erb</p>


<div class="page-header">
  <h1>ibutton</h1>
</div>

<%= ibutton("Home", root_path, :class => "btn btn-primary", :iclass => "glyphicon glyphicon-home") %>

<div class="page-header">
  <h1>Form</h1>
</div>

<%= simple_form_for @user, :url => root_path do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :is_admin, :label => "Admin?", :as => :boolean %>

  <%= f.button :submit, :class => "btn btn-default" %>
<% end %>

<div class="page-header">
  <h1>Pagination</h1>
</div>

<%= will_paginate @items %>

